body{
    font-size: 16px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #255EE9;
    padding: 2rem 0;
    width: 100%;
    min-height: auto;
}

header .link{
    flex-grow: 1;
}

footer{
    width: 100%;
    min-height: 600px;
    padding-top: 15px;
    background-color: #23272a;
}

.link ul{
    gap: 30px;
    align-items: center;
    font-size: 0.9rem;
}

.link li{
    list-style-type: none;
    display: inline-block;
}

.link a{
  text-decoration: none;
  color: white;
}

.login a{
    text-decoration: none;
    color: black;
}

.btn{
    padding: .6rem 0.9rem;
    border-width: 0;
    border-radius: 30px;
    display: inline-block;
}

.header-center, .last-section button{
    margin: 0 10px;
    font-size: 1.1rem;
    line-height: 30px;
    padding: .6rem 1.5rem;
}

.btn.btn-grey a{
  text-decoration: none;
  color: black;
}
.btn.btn-black a{
  text-decoration: none;
  color: white;
}

.btn.btn-purple a{
  text-decoration: none;
  color: white;
}

.btn-grey:hover a{
  background-color: #fff;
  color: #5865f2;
}

.btn-black:hover{
  background-color: #2c2f33;
}

.login button{
    font-size: 0.8rem;
    font-weight: 600;
}

.btn-grey{
    background-color: #FFFFFF;
}

.btn-black{
    background-color: #23272A;
}

.btn-purple{
  background-color: #7983F5;
}

.login-pos{
    justify-content: flex-end;
    align-items: center;
}

.link-pos{
    justify-content: center;
}

.container{
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
    padding: 2em 1em;
}

.d-flex{
    display: flex;
}

.direction{
    flex-direction: row-reverse;
}

.container.nav.d-flex{
    padding: 0;
}

.header-jumbo{
    min-height: 450px;
    padding: 2rem 0;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header-center{
    width: 750px;
    min-height: 350px;
    text-align: center;
    line-height: 28px;
}

.header-center h1{
    font-size: 3.3rem;
}

.header-center p{
    padding-top: 50px;
    padding-bottom: 3%;
    font-size: 1.1rem
}

.header-jumbo > div{
    justify-content: center;
    align-items: center;
}

/* start sezione css del main */

.section{
    width: 100%;
    padding: 12em 0;
}

.section > div{
    padding: 0;
}

.col {
    color: black;
}

.col-text-right h1{
    font-size: 2.8rem;
    text-align: left;
    padding-top: 33px;
    padding-left: 140px;
}

.col-text-right p{
    font-size: 1.1rem;
    line-height: 28px;
    text-align: left;
    padding-left: 140px;
    padding-top: 30px;
}

.col-text-left h1 {
    font-size: 2.8rem;
    padding-top: 33px;
    padding-right: 160px;
}

.col-text-left p{
    font-size: 1.1rem;
    line-height: 28px;
    padding-right: 160px;
    padding-top: 30px;
}

/* lavorare da qua per sezione main finale  */

.last-section{
    width: 100%;
    padding-top: 10rem;
    text-align: center;
    padding-bottom: 10rem;
}

.last-section > div{
    padding: 0;
    display: inline-block;
    color: black;
}

.last-section h1{
  font-size: 2.8rem;
  padding-bottom: 1.5rem;
}

.last-section p{
  line-height: 28px;
  font-size: 1.1rem;
  padding: 0 8rem;
  padding-bottom: 1.5rem;
}

.last-section h3{
  color: black;
}

.image-subtitle{
  display: inline-block;
  background-image: url("../img/stars.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 480px;
  height: 100px;
}

.subtitle{
  width: 480px;
  height: 100px;
  justify-content: center;
  align-items: center;
} 
/* end main css */


/* start parte finale-footer */
.container.d-flex.last-info{
    padding-top: 75px;
    gap: 120px;
}

.language{
  padding: 25px 0;
  display: inline-block;
}

.space-icons{
  gap: 2rem;
}

.icons-social.d-flex.space-icons i{
  font-size: 1.5rem;
}

.left h2{
  color: #5865f2;
  font-size: 2rem;
}

.left i{
  font-size: 0.6rem;
  line-height: 18px;
  vertical-align: text-top;
}

.left img{
  width: 22px;
  vertical-align: middle;
}

.left small{
  padding-right: 2px;
}

.right{
  gap: 95px;
}

.right li{
  list-style-type: none;
}

.right li:first-child{
  color: #5865f2;
  font-weight: bold;
}

.right ul{
  line-height: 35px;
}

/* ultima sezione del footer */
.bottom{
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 5rem 0;
    border-top: 1px solid #5865f2;
}

.register button{
  font-size: 0.8rem;
  font-weight: 600;
}
