body{
    font-size: 16px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  /*   font-weight: bold; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #255EE9;
    padding: 2rem 0;
    width: 100%;
    min-height: auto;
}

header .link{
    flex-grow: 1;
}

footer{
    /* background-color: #23272A; */
    width: 100%;
    min-height: 600px;
    padding-top: 15px;
}

ul{
    gap: 30px;
    align-items: center;
    font-size: 0.9rem;
}

li{
    list-style-type: none;
    display: inline-block;
}

a{
    text-decoration: none;
}

.btn{
    padding: .6rem 0.9rem;
    border-width: 0;
    border-radius: 30px;
    display: inline-block;
}

.header-center button{
    margin: 0 10px;
    font-size: 1.1rem;
    line-height: 30px;
    padding: .6rem 1.5rem;
}

.login button{
    font-size: 0.7rem;
    font-weight: 600;
}

.btn-grey{
    background-color: #FFFFFF;
    color: black;
}

.btn-black{
    background-color: #23272A;
    color: white;
}

.login-pos{
    justify-content: flex-end;
    align-items: center;
}

.link-pos{
    justify-content: center;
}

.container{
    /* width: 100%; */
    max-width: 1100px;
    min-width: 300px;
    margin: 0 auto;
    padding: 2em 1em;
}

.d-flex{
    display: flex;
}

.direction{
    flex-direction: row-reverse;
}

.container.nav.d-flex{
    /* background-color: #DAA520; */
    padding: 0;
    min-height: 40px
} 

.header-jumbo{
    /* background-color: #00008B; */
    min-height: 450px;
    padding: 2rem 0;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header-center{
    width: 750px;
    min-height: 350px;
    /* border: 1px dashed black; */
    text-align: center;
    line-height: 28px;
    /* background-color: #ee82ee; */
}

.header-center h1{
    font-size: 2.8rem;
}

.header-center p{
    padding-top: 50px;
    padding-bottom: 3%;
    font-size: 1.1rem
}

.header-jumbo > div{
    justify-content: center;
    align-items: center;
}

/* start sezione css del main */

.section-white{
    width: 100%;
    min-height: 450px;
    padding: 3em 0;
}

.section-white > div{
    min-height: 400px;
    border: 1px dashed black;
    padding: 0;
}

.section-grey{
    width: 100%;
    min-height: 450px;
    padding: 3em 0;
    /* background-color: #D3D3D3; */
}

.section-grey > div{
    min-height: 400px;
    border: 1px dashed black;
    padding: 0;
}

.col1,.col2{
    border: 1px dashed black;
    padding-top: 55px;
    color: black;
}

.col1{
   /*  background-color: #1E90FF; */
    flex-basis: 60%;
}

.col2 h1{
    font-size: 2.8rem;
    text-align: left;
    padding-top: 33px;
    padding-left: 94px;
}

.col2 p{
    font-size: 1.1rem;
    line-height: 28px;
    text-align: left;
    padding-left: 94px;
    padding-top: 30px;
}

.last-section-grey{
    width: 100%;
    min-height: 800px;
    padding: 3em 0;
   /*  background-color: #D3D3D3; */
}

.last-section-grey > div{
   /*  background-color: #228B22; */
    min-height: 700px;
    padding: 0;
    border: 3px dashed black;
}

.container.d-flex.last-info{
    min-height: 450px;
    padding: 0;
}

.left{
    /* background-color: #F08080; */
    flex-basis: 30%;
    border: 3px dashed black;
}

.right{
    /* background-color: #20B2AA; */
}

.block1,.block2,.block3,.block4{
    min-width: 167px;
    min-height: 450px;
    border: 1px dashed black; 
}

.bottom{
    /* background-color: #ADD8E6; */
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

.logo2{
   /*  background-color: #FFB6C1; */
    min-height: 30px;
    min-width: 70px;
    padding: 0.3em 0;
    border: 1px dashed black;
    text-align: center;
}

.button{
   /*  background-color: #FFB6C1; */
    min-height: 30px;
    min-width: 70px;
    border: 1px dashed black;
    text-align: center;
    padding: 0.3em 0.5em;
}




